# Tuple

In [1]:
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b = 1,3,5,7
print(b)
print(type(b))

(1, 3, 5, 7)
<class 'tuple'>

In [4]:
for val in a:
    print(val)

1
2
3
4

In [5]:
#concatenation
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [6]:
#repeat
print(("Repeat",) * 3)

('Repeat', 'Repeat', 'Repeat')

In [7]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p')) # output: 2
print(my_tuple.index('l')) # output: 3

2
3

In [8]:
al = list(a)
print(al)

[1, 2, 3, 4]

In [9]:
val = [2,5,23,85,21,14]
print(val)
valt = tuple(val)
print(valt)

[2, 5, 23, 85, 21, 14]
(2, 5, 23, 85, 21, 14)

# Sets

- no duplication
- mutable

In [10]:
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [22]:
s1 = {1,2,3,4,5,6,7,8,9,1,1}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [13]:
# using set()
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [15]:
#initialize a with set()
a = set()
print(type(a))

<class 'set'>

In [16]:
# modifying a set
my_set = {1,3}
print(my_set)

{1, 3}

In [18]:
# add an element
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [19]:
# add multiple elements
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [20]:
# add list and set
my_set.update([4,5,],[1,6,8])
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [21]:
# removing items from set
my_set = {1,2,3,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [22]:
my_set.discard(4)
print(my_set)

{1, 2, 3, 5, 6}

In [23]:
my_set.remove(6)
print(my_set)

{1, 2, 3, 5}

In [24]:
# pops a randam item
my_set.pop()
print(my_set)

{2, 3, 5}

In [25]:
# clear my_set
my_set.clear()
print(my_set)

set()

In [23]:
print(s1)
sl = list(s1) # set to list
print(sl)
st = tuple(s1) #set to tuple
print(st)
a = set([1,1,2,2,3,4,5,]) # list to set
print(a)
b = set((2,3,2,2,3,1,2,)) # tuple to set
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)
{1, 2, 3, 4, 5}
{1, 2, 3}

In [27]:
# set union
A = {1,2,3,4,5,6,7}
B = {4,5,6,7,8,9}
print(A | B )

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
A.union(B)
{1,2,3,4,5,6,7,8,9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
B.union(A)
{1,2,3,4,5,6,7,8,9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
# set intersection
print(A & B)

{4, 5, 6, 7}

In [32]:
A.intersection(B)

{4, 5, 6, 7}

In [4]:
# set difference
A =  {1,2,3,4,5}
B = {4,5,6}
print(A - B)

{1, 2, 3}

In [5]:
# set symmentric
print(A ^ B)

{1, 2, 3, 6}

In [6]:
x = {'computer','air conditioner','bluetooth speaker','bulb','clock'}
y = {'computer','bulb','camera','copier','fan'}
print(x | y) #union
print(x - y) #difference
print(x & y) #intersection
print(x ^ y) #symmentric

{'fan', 'bulb', 'computer', 'air conditioner', 'clock', 'camera', 'copier', 'bluetooth speaker'}
{'air conditioner', 'clock', 'bluetooth speaker'}
{'computer', 'bulb'}
{'air conditioner', 'fan', 'camera', 'copier', 'clock', 'bluetooth speaker'}

# Dictionary

- ordered collection of items , complex data formate

In [6]:
my_dict = {'name': 'jack','age': 25}

In [7]:
print(my_dict['name'])

jack

In [8]:
print(my_dict.get('age'))

25

In [11]:
print(my_dict.get('address'))

None

In [12]:
print(my_dict['address'])

KeyError: 'address'

In [13]:
# update value
my_dict['age'] = 27

In [14]:
print(my_dict)

{'name': 'jack', 'age': 27}

In [15]:
my_dict['address'] = 'Downtown'

In [16]:
print(my_dict)

{'name': 'jack', 'age': 27, 'address': 'Downtown'}

In [17]:
squares = {1:1,2:4, 3:9, 4:16, 5:25}

In [18]:
#removing item
print(squares.pop(4))

16

In [19]:
print(squares.popitem())

(5, 25)

In [20]:
squares.clear()

In [27]:
report = {
   'student 1':{
    'name': 'John',
    'marks': {
        'math': 80,
        'science':90,
        'history': 70,
        'english': 60,
        'evs': 90
    }
   },
   'student 2': {
    'name': 'mary',
    'marks': {
    'math':70,
    'science': 50,
    'history': 60,
    'english': 80,
    'evs': 80
    }
   }

}

In [28]:
report

{'student 1': {'name': 'John',
  'marks': {'math': 80,
   'science': 90,
   'history': 70,
   'english': 60,
   'evs': 90}},
 'student 2': {'name': 'mary',
  'marks': {'math': 70,
   'science': 50,
   'history': 60,
   'english': 80,
   'evs': 80}}}

In [29]:
print(report['student 1'])

{'name': 'John', 'marks': {'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}}

In [31]:
print(report['student 1']['name'])
print(report['student 1']['marks']['history'])

John
70

In [32]:
# loop for dictionary
for k,v in report.items():
    print(k,v)

student 1 {'name': 'John', 'marks': {'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}}
student 2 {'name': 'mary', 'marks': {'math': 70, 'science': 50, 'history': 60, 'english': 80, 'evs': 80}}

In [33]:
# nested loop for dictionary
for k, v in report.items():
    print("student", k)
    if isinstance(v,dict):
        for k1,v1 in v.items():
            if isinstance(v1, dict):
                for sub ,marks in v1.items():
                    print(sub,marks)
            else:
                print(v1)
        else:
            print(v)

student student 1
John
math 80
science 90
history 70
english 60
evs 90
{'name': 'John', 'marks': {'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}}
student student 2
mary
math 70
science 50
history 60
english 80
evs 80
{'name': 'mary', 'marks': {'math': 70, 'science': 50, 'history': 60, 'english': 80, 'evs': 80}}